services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
      - ./ollama/init.sh:/init.sh
    entrypoint: ["/bin/sh", "/init.sh"]
    restart: unless-stopped

volumes:
  ollama_data: